<%- include('./header.ejs', {path}); %>
        <!--end Header-->
        <!--start section.breadCrumps-->
        <section class="breadCrumps">
            <div class="container">
                <div class="row_flex">
                    <ul class="list_breadCrumps">
                        <li><a href="#">Главная</a><i>\</i></li>
                        <li><a href="#">Каталог</a><i>\</i></li>
                        <li><a href="#">Одежда</a><i>\</i></li>
                        <li><a href="#">Для мужчин</a><i>\</i></li>
                        <li><a href="#">Футболки</a><i>\</i></li>
                        <li><span>Черная "Philip Plein"</span></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--end section.breadCrumps-->
        <!--start section.card-->
        <section class="card">
            <div class="container">
                <div class="row_flex">
                    <div class="col-md-6 col-sm-6 col-xs-12 box__img_products">
                        <div class="img_products">
                            <ul class="slider-for">
                                <li class="item">
                                    <a  href="img/products/phil1.jpg" class="image-link zoom" onmousemove="zoom(event)" style="background-image: url(<%= path %>img/products/phil1.jpg)">
                                        <img src="img/products/phil1.jpg" alt="">
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="img/products/phil2.jpg" class="image-link zoom" onmousemove="zoom(event)" style="background-image: url(<%= path %>img/products/phil2.jpg)">
                                        <img src="img/products/phil2.jpg" alt="">
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="img/products/phil3.jpg" class="image-link zoom" onmousemove="zoom(event)" style="background-image: url(<%= path %>img/products/phil3.jpg)">
                                        <img src="img/products/phil3.jpg" alt="">
                                    </a>
                                </li>
                            </ul>
                            <ul class="slider-nav">
                                <li class="item"><div class="img-wrapper"><img src="<%= path %>img/products/phil1.jpg" alt=""></div></li>
                                <li class="item"><div class="img-wrapper"><img src="<%= path %>img/products/phil2.jpg" alt=""></div></li>
                                <li class="item"><div class="img-wrapper"><img src="<%= path %>img/products/phil3.jpg" alt=""></div></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 box__description_products">
                        <div class="description_products">
                            <h1 class="name_product">Черная "Philip Plein"</h1>
                            <p class="article">Артикул: <small>20330</small></p>
                            <p class="article">Производство: <small>Турция</small></p>
                            <div class="box__price">
                                <span class="old_price">750 сом</span>
                                <span class="new_price">550 сом</span>
                            </div>
                            <span class="have">В наличии<i class="far fa-thumbs-up"></i></span>
                            <div class="box__parametry">
                                <span class="name">Выберите цвет:</span>
                                <ul class="list_color">
                                    <li class="active"><span class="color" style="background: #000;" title="Черная"><i class="fas fa-check"></i></span></li>
                                    <li><span class="color" style="background: #fff;" title="Белая"><i class="fas fa-check"></i></span></li>
                                </ul>
                            </div>
                            <div class="box__parametry">
                                <span class="name">Выберите размер:</span>
                                <ul class="list_size">
                                    <li class="active"><span class="size">S</span></li>
                                    <li><span class="size">M</span></li>
                                    <li><span class="size">L</span></li>
                                </ul>
                            </div>
                            <div class="box__parametry">
                                <span class="name">Количество:</span>
                                <form action="">
                                    <div class="checkNumber number-controls">
                                        <span class="minus js-number-control input-number-decrement">–</span>
                                        <input class="input-number" type="number" pattern="\d*" step="1" min="1" max="5" value="1">
                                        <span class="plus js-number-control input-number-increment">+</span>
                                    </div>
                                </form>
                            </div>
                            <div class="box__btn_buy">
                                <a href="#" class="btn_main">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block__detalies">
                    <p class="title">Детали товара:</p>
                    <ul class="list_detalies row_flex">
                        <li class="col-md-3">В линейки: <smal>7шт.</smal></li>
                        <li class="col-md-3">В линейки: <smal>7шт.</smal></li>
                        <li class="col-md-3">В линейки: <smal>7шт.</smal></li>
                        <li class="col-md-3">В линейки: <smal>7шт.</smal></li>
                        <li class="col-md-3">В линейки: <smal>7шт.</smal></li>
                        <li class="col-md-3">В линейки: <smal>7шт.</smal></li>
                        <li class="col-md-3">В линейки: <smal>7шт.</smal></li>
                        <li class="col-md-3">В линейки: <smal>7шт.</smal></li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae exercitationem dolorum nemo iusto voluptas vero autem quam distinctio, explicabo ipsa numquam assumenda atque voluptate dolore totam quos perferendis blanditiis sunt ratione? Obcaecati vero quae amet numquam, unde suscipit architecto ipsum illum esse ea sit! Id!</p>
                </div>
            </div>
        </section>
        <!--end section.card-->
        <!--start section.banner-->
        <section class="banner">
            <div class="container">
                <div class="box_banner"><a href="#" class="img_wrapper"><img src="img/jpg/banner.jpg" alt=""></a></div>
            </div>
        </section>
        <!--end section.banner-->
        <!--start Footer-->
        <%- include('./footer.ejs', {path}); %>
        <script>
        $(document).ready(function(){
            $('.slider-for').each(function() {
                $(this).magnificPopup({
                    delegate: '.image-link',
                    type: 'image',
                    gallery: {
                        enabled:true
                    },
                    zoom: {
                        enabled: true,

                        duration: 600,
                        easing: 'ease-in-out',
                        opener: function(openerElement) {
                            return openerElement.is('img') ? openerElement : openerElement.find('img');
                        }
                    }
                });
            });
            $('.slider-for').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                asNavFor: '.slider-nav'
            });
            $('.slider-nav').slick({
                slidesToShow: 4,
                slidesToScroll: 1,
                asNavFor: '.slider-for',
                focusOnSelect: true
            });
        });
        </script>

    </body>
</html>
