<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta property="og:image" content="path/to/image.jpg">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <title>Главная</title>
        <link rel="stylesheet" type="text/css" href="<%= path %>stylesheets/css/libs.min.css">
        <link rel="stylesheet" type="text/css" href="<%= path %>stylesheets/css/main.css">
        <link rel="stylesheet" type="text/css" href="<%= path %>stylesheets/css/media.css">
        <!--Fonts-->
        <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    </head>

    <body>
        <!-- Loader -->
        <div class="load-inner">
            <div class="showbox">
                <div class="loader">
                    <svg class="circular" viewBox="25 25 50 50">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
                    </svg>
                    <span class="logo"><img src="<%= path %>img/png/loader.png" alt="logo"></span>
                </div>
            </div>
        </div>
        <!-- Loader end -->
        <!--start modal-->
        <div class="modal fade" id="modalOrder" tabindex="5" role="dialog"  aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 20 20">
                                <path fill="#ffffff" d="M10.707 10.5l5.646-5.646c0.195-0.195 0.195-0.512 0-0.707s-0.512-0.195-0.707 0l-5.646 5.646-5.646-5.646c-0.195-0.195-0.512-0.195-0.707 0s-0.195 0.512 0 0.707l5.646 5.646-5.646 5.646c-0.195 0.195-0.195 0.512 0 0.707 0.098 0.098 0.226 0.146 0.354 0.146s0.256-0.049 0.354-0.146l5.646-5.646 5.646 5.646c0.098 0.098 0.226 0.146 0.354 0.146s0.256-0.049 0.354-0.146c0.195-0.195 0.195-0.512 0-0.707l-5.646-5.646z"></path>
                            </svg>
                        </button>
                        <div class="textCenter">
                            <h4 class="title">Обратная связь</h4>
                        </div>
                        <div class="block-form">
                            <form action="/callback">
                                <div class="group">
                                    <input type="text" name="name" placeholder="Ваше имя">
                                </div>
                                <div class="group">
                                    <input type="tel" name="name" placeholder="Телефон">
                                </div>
                                <div class="textCenter">
                                    <div class="goup-btn">
                                        <button type="submit" class="btn_main">Отправить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end modal-->

        <!--Wrapper-->
        <div class="wrapper">
            <!--start Header-->
            <header id="header" class="header">
               <div class="top_head">
                   <div class="container">
                       <div class="row_flex">
                           <div class="col-md-6 box_net_works">
                               <ul class="list__net_works">
                                   <li><a href="http://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                                   <li><a href="http://instagram.com"><i class="fab fa-instagram"></i></a></li>
                                   <li><a href="http://twitter.com"><i class="fab fa-twitter"></i></a></li>
                                   <li><a href="http://plus.google.com"><i class="fab fa-google-plus-g"></i></a></li>
                               </ul>
                           </div>
                           <div class="col-md-6 box_callBack">
                               <p class="phone"><i class="fas fa-phone"></i>+996 555 904 115</p>
                               <a href="#" class="btn_callBack" data-toggle="modal" data-target="#modalOrder">Обратный Звонок</a>
                           </div>
                       </div>
                   </div>
               </div>
                <div class="container">
                    <div class="row_flex">
                        <div class="col-md-2 block_logo"><a href="/" class="logo"><img src="<%= path %>img/logo.png" alt="Mao.kg"></a></div>
                        <nav class="col-md-8 header-menu navbar">
                            <div class="navbar-header">
                                <div class="block_logo_mobi"><a href="/" class="logo"><img src="<%= path %>img/logo.png" alt="Mao.kg"></a></div>
                            </div>
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown category_btn">
                                        <a href="#" data-toggle="dropdown">Категории товаров<i class="fas fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-submenu">
                                                <a href="#" tabindex="-1">Аксессуары</a>
                                                <a href="#" class="arrow"><i class="fas fa-angle-left"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#" tabindex="-1">Для этого</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a href="#" tabindex="-1">Одежда</a>
                                                <a href="#" class="arrow"><i class="fas fa-angle-left"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li class="dropdown-submenu">
                                                        <a href="#" tabindex="-1">Мужская</a>
                                                        <a href="#" class="arrow"><i class="fas fa-angle-left"></i></a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#" tabindex="-1">Кофты</a></li>
                                                            <li><a href="#" tabindex="-1">Футболки</a></li>
                                                            <li><a href="#" tabindex="-1">Куртки</a></li>
                                                            <li><a href="#" tabindex="-1">Брюки</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Обувь</a></li>
                                            <li><a href="#">Спортивные товары</a></li>
                                            <li><a href="#">Электроника</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/delivery">Доставка</a></li>
                                    <li><a href="/pay">Оплата</a></li>
                                    <li><a href="#">Акции и скидки</a></li>
                                    <li><a href="/contact">Контакты</a></li>
                                </ul>
                            </div><!--.nav-collapse -->
                        </nav>
                        <div class="col-md-2 block__icon_user">
                            <div class="dropdown box__btn_search">
                                <a href="#" class="btn_user" data-toggle="dropdown">
                                    <i class="fas fa-search open"></i>
                                    <i class="closed">&times;</i>
                                </a>
                                <div class="dropdown-menu">
                                    <form action="">
                                        <div class="group">
                                            <input type="text" name="textfield" placeholder="Найти...">
                                            <button type="submit" class="btn_search"><i class="fas fa-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="box__btn_basket">
                                <a href="/basket" class="btn_user"><i class="fas fa-shopping-basket"></i>
                                    <span class="number">3</span>
                                </a>
                            </div>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar line1"></span>
                                <span class="icon-bar line2"></span>
                                <span class="icon-bar line3"></span>
                            </button>
                        </div>
                        <!--nav.header-menu end-->
                    </div>
                </div>
            </header>