        <%- include('./header.ejs'); %>
        <!--end Header-->
        <!--start section.fade-slider-->
        <section id="parallax" class="fade_slider">
            <div class="item" style="background: url(img/slider/slide1.jpg) center no-repeat; background-size: cover;">
                <div class="container">
                    <div class="row_flex"><div class="img_wrapper">Все за покупками к нам!!!</div></div>
                </div>
            </div>
            <div class="item" style="background: url(img/slider/slide1.jpg) center no-repeat; background-size: cover;">
                <div class="container">
                    <div class="row_flex"><div class="img_wrapper">Все за покупками к нам!!!</div></div>
                </div>
            </div>
        </section>
        <!--end section.fade-slider-->
        <!--start section.advantages-->
        <section class="advantages">
            <div class="container">
                <div class="row_flex">
                    <div class="col-md-3 col-sm-6 col-xs-12 item_advantages">
                        <div class="img_wrapper"><img src="img/png/award.png" alt=""></div>
                        <div class="description">
                            <p>Контроль и гарантия качества</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 item_advantages">
                        <div class="img_wrapper"><img src="img/png/partner.png" alt=""></div>
                        <div class="description">
                            <p>Уникальный сервис для всех клиентов</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 item_advantages">
                        <div class="img_wrapper"><img src="img/png/speaker.png" alt=""></div>
                        <div class="description">
                            <p>Быстрая доставка по всему городу</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 item_advantages">
                        <div class="img_wrapper"><img src="img/png/teamwork.png" alt=""></div>
                        <div class="description">
                            <p>Более 35 известных брендов Китая</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end section.advantages-->
        <!--start section.main-->
        <section class="main">
            <div class="container">
                <div class="block__caption_main">
                    <h2 class="caption_main">Новинки</h2>
                    <span class="number_product"><%= data.goods.length %> товаров</span>
                </div>
                <ul class="list__products row_flex">
                    <%
                        for (var i = 0; i < data.goods.length; i++) {
                    %>
                    <li class="col-md-3 col-sm-4 col-xs-12 item">
                        <div class="wrapper_product">
                            <a href="#" class="img_wrapper"><img src="./img/<%= data.goods[i].img %>" alt="" value="<%= data.goods[i].img %>"></a>
                            <div class="box_description">
                                <p class="name"><a href="#"><%= data.goods[i].title %></a></p>
                                <div class="bottom_box">
                                    <div class="box_price"><% if(data.goods.oldPrice =! null) { %><span class="old_price"><%= data.goods[i].oldPrice %></span><% } %><span class="price"><%= data.goods[i].price %></span></div>
                                    <div class="box_basket">
                                        <a href="/basket?product=<%= data.goods[i].ext_id %>" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <%
                        }
                    %>
                </ul>
                <div class="textCenter"><a href="/product/all-new" class="btn_main">Все товары</a></div>
            </div>
        </section>
        <!--end section.main-->
        <!--start section.banner-->
        <section class="banner">
            <div class="container">
                <div class="box_banner"><a href="#" class="img_wrapper"><img src="img/jpg/banner.jpg" alt=""></a></div>
            </div>
        </section>
        <!--end section.banner-->
        <!--start section.main-->
        <section class="main">
            <div class="container">
                <div class="block__caption_main">
                    <h2 class="caption_main">В тренде</h2>
                    <span class="number_product"><%= data.goods.length %>  товаров</span>
                </div>
                <ul class="list__products row_flex">
                    <%
                        for (var i = 0; i < data.goods.length; i++) {
                    %>
                    <li class="col-md-3 col-sm-4 col-xs-12 item">
                        <div class="wrapper_product">
                            <a href="#" class="img_wrapper"><img src="./img/<%= data.goods[i].img %>" alt=""></a>
                            <div class="box_description">
                                <p class="name"><a href="#"><%= data.goods[i].title %></a></p>
                                <div class="bottom_box">
                                    <div class="box_price"><% if(data.goods.oldPrice =! null) { %><span class="old_price"><%= data.goods[i].oldPrice %></span><% } %><span class="price"><%= data.goods[i].price %></span></div>
                                    <div class="box_basket">
                                        <a href="/basket?product=<%= data.goods[i].ext_id %>" class="btn_basket">В корзину<i class="fas fa-cart-arrow-down"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <%
                        }
                    %>
                </ul>
                <div class="textCenter"><a href="#" class="btn_main">Все товары</a></div>
            </div>
        </section>
        <!--end section.main-->
        <!--start Footer-->
        <%- include('./footer.ejs'); %>
        <script>
            var good =  "sad"  


            $.get("/get/all", function(data, status){
                for(var elem of data.posts) {
                    currentBook = good
                    currentBook = currentBook.replace('%title%', elem.title)
                    currentBook = currentBook.replace('%image%', elem.image)
                    currentBook = currentBook.replace(/%link%/g, elem.id)
                    

                    $( "#shelfContent" ).append(currentBook)
                }
            });

            $(document).ready(function(){
                $('.list-gallery').each(function() {
                    $(this).magnificPopup({
                        delegate: '.image-link',
                        type: 'image',
                        gallery: {
                            enabled:true
                        },
                        zoom: {
                            enabled: true,

                            duration: 600,
                            easing: 'ease-in-out',
                            opener: function(openerElement) {
                                return openerElement.is('img') ? openerElement : openerElement.find('img');
                            }
                        }
                    });
                });
            });
        </script>

    </body>
</html>
